@model List<StripePaymentViewModel>

@{
    ViewData["Title"] = "SuccessfulPayment";
}

<h1>SuccessfulPayment</h1>


<div class="table__wrap">
    <table class="table">
        <thead class="table__header">
            <tr class="table__row">
                <th class="table__cell u-text-left">PaymentIntent Id</th>
                <th class="table__cell u-text-right">Currency</th>
                <th class="table__cell u-text-right">Amount</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var record in Model)
                {
                    <tr class="table__row">
                        <td class="table__cell">@record.PaymentIntentId</td>
                        <td class="table__cell u-text-right">@record.Currency</td>
                        <td class="table__cell u-text-right">@record.Amount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>